<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://mtcbackend20241025103409.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/a8b0f602-dec9-4d53-9300-445c4c56ee97/resourcegroups/MSPP/providers/Microsoft.ContainerRegistry/registries/MTCBackend20241025103606</ContainerResourceId>
    <ContainerResourceName>MTCBackend20241025103606</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>mtcbackend20241025103606.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ApiResourceId>/subscriptions/a8b0f602-dec9-4d53-9300-445c4c56ee97/resourceGroups/MSPP/providers/Microsoft.ApiManagement/service/MTCBackendapi/apis/MTCBackend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/a8b0f602-dec9-4d53-9300-445c4c56ee97/resourcegroups/MSPP/providers/Microsoft.Web/sites/MTCBackend20241025103409</ResourceId>
    <ResourceGroup>MSPP</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mtcbackend20241025103409.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4085cd1b-bca9-486e-8b6d-6b812de56b90</ProjectGuid>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>